* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Stack Sans Text", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
	background-color: #fff;
	line-height: 1.6;
}
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	opacity: 0.8;
}
img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.2;
	color: #111;
}
/* HERO */
#hero {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#hero video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	transform: translate(-50%, -50%);
	object-fit: cover;
	filter: grayscale(0.9);
}

/* HERO TEXT */
.hero-content {
	position: relative;
	z-index: 2;
	color: white;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

/* Dark overlay*/
/* #hero::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 0;
	pointer-events: none;
	background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4));
} */

/* #hero::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	background-image: url("/assets/images/grid-bg2.png");
	background-repeat: repeat;
	background-size: 30px 30px;
	mix-blend-mode: overlay;
	opacity: 0.5;
} */
#hero::after {
	content: "";
	position: absolute;
	inset: 0;
	background-image: radial-gradient(
		circle,
		rgb(4 4 4 / 24%) 1px,
		#00000017 1px
	);
	background-size: 3px 3px; /*розмір зерна */
	/* opacity: 0.4; */
	pointer-events: none;
	z-index: 1;
}

/* HEADER */
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
}

.main-header a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 500;
}

.main-header a:hover {
	text-decoration: underline;
}
